!!!5
%html
  %head
    %title My Personal Site
  %body
    %h1 My Tasks
    %ul
      %li
        %a{href:'/tasks'} Tasks
      %li
        %a{href:'#'} Autodoxer
      %li
        %a{href:'#'} Invention Ideas
