<h1>Listing Tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Complete</th>
  </tr>

  <% @task.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.complete %></td>
        <td><%= link_to 'Show', tasks_path(task) %></td>
      </tr>
  <% end %>
</table>