<%= form_for :task, url: tasks_path do |f| %>
    <p>
      <strong>Task:</strong>
      <%= @task.name %>
    </p>

    <p>
      <strong>Complete:</strong>
      <%= @task.complete %>
    </p>
<% end %>

<%= link_to 'Back', tasks_path %>