<h1>Task#get_id,</h1>
<p>Find me in app/views/task/get_id.html.erb</p>

<%
   @tasks = []
    task = Task.new()
   task.name = 'Mow'
   task.complete = false
   @tasks << task
%>

<% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.complete %></td>
    </tr>
<% end %>
