<h1>Task#put,</h1>


<% form_for @task do |f| %>
    <%= f.text_field :name %>
    <%= f.check_box :complete %>
    <%= f.text_area :body, :size => "60x12" %>
    <%= submit_tag "Create" %>
<% end %>


<p>Find me in app/views/task/put.html.erb</p>
